@font-face {
       font-family: 'STKaiti', cursive;
       src: url('Fonts/STKaiti.ttf') format('truetype');
   }

em, .cm-em {
    font-family: 'STKaiti', cursive;
    font-style: normal;
    font-size: 120%;
    font-weight:600;  
}
/*
h1, h2, h3, h4, h5, h6 {
    font-family: 'STKaiti', cursive, !important; 

}
*/
